@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: SpectralSC;
  font-display: swap;
  src: url("../fonts/SpectralSC-Regular.woff2") format("woff2"), url("../fonts/SpectralSC-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
.gallery__nav-item:before, [class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arr:before {
  content: "\e900";
}

._icon-arr-rt:before {
  content: "\e901";
}

._icon-f_location:before {
  content: "\e902";
}

._icon-f_mail:before {
  content: "\e903";
  font-size: 12px;
}

._icon-f_phone:before {
  content: "\e904";
}

._icon-inst:before {
  content: "\e905";
  font-size: 19.5px;
}

._icon-mail:before {
  content: "\e906";
  font-size: 15px;
}

._icon-phone:before {
  content: "\e907";
}

._icon-tel:before {
  content: "\e908";
  font-size: 18px;
}

._icon-vk:before {
  content: "\e909";
  font-size: 16px;
}

._icon-wapp:before {
  content: "\e90a";
  font-size: 20px;
}

._icon-yout:before {
  content: "\e90b";
  font-size: 19.5px;
}

:root {
  --main-color-text: #2c2c2c;
  --light-color-text: #ffffff;
  --gray-color-text: #8D7F7F;
  --dark-color-text: #000000;
  --color-light: #ffffff;
  --accent-color: #FD9900;
  --bg-color: #BFB2A8;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: var(--main-color-text);
  line-height: 1.25;
  font-family: Montserrat;
  font-size: 1.6rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: Montserrat;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  transition: all 0.3s ease 0s;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.loaded body {
  opacity: 1;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background-color: var(--bg-color);
}
.wrapper::after {
  content: "";
  position: absolute;
  z-index: 0;
  opacity: 0.3;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1/2;
  background-image: url("../img/bg.jpg");
  background-size: 200%;
  background-repeat: no-repeat;
}
@media (min-width: 767.98px) {
  .wrapper::after {
    background-size: contain;
  }
}
@media (min-width: 1279.98px) {
  .wrapper::after {
    aspect-ratio: 2/1;
    background-image: url("../img/bg-pc.jpg");
  }
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
  position: relative;
  z-index: 1;
}

.preload {
  background-color: var(--bg-color);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: preload;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  pointer-events: none;
}
.preload__inner {
  display: grid;
  justify-items: center;
}
.preload__image {
  background-image: url("../img/logo-preload.svg");
  background-size: cover;
  background-position: center;
  aspect-ratio: 299/269;
  animation-name: preload-img;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@media (min-width: 120em) {
  .preload__image {
    width: 29.9rem;
  }
}
@media (min-width: 32em) and (max-width: 120em) {
  .preload__image {
    width: clamp( 18rem , 13.6727272727rem  +  13.5227272727vw , 29.9rem );
  }
}
@media (max-width: 32em) {
  .preload__image {
    width: 18rem;
  }
}
.preload__title {
  font-weight: 300;
  text-transform: uppercase;
  color: #7A6D6D;
  opacity: 0;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
@media (min-width: 120em) {
  .preload__title {
    font-size: 6rem;
  }
}
@media (min-width: 32em) and (max-width: 120em) {
  .preload__title {
    font-size: clamp( 4rem , 3.2727272727rem  +  2.2727272727vw , 6rem );
  }
}
@media (max-width: 32em) {
  .preload__title {
    font-size: 4rem;
  }
}
.preload__title_1 {
  animation-name: preload-t1;
}
.preload__title_2 {
  animation-name: preload-t2;
}
.preload__title_3 {
  animation-name: preload-t3;
}

@keyframes preload-img {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  20% {
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes preload-t1 {
  0% {
    opacity: 0;
  }
  20% {
    transform: translateY(80%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes preload-t2 {
  0% {
    opacity: 0;
  }
  40% {
    transform: translateY(80%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes preload-t3 {
  0% {
    opacity: 0;
  }
  60% {
    transform: translateY(80%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes preload {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 1170px;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 767.98px) {
  [class*=__container] {
    padding: 0 15px;
  }
}

.btn {
  font-family: Montserrat;
  color: var(--main-color-text);
  line-height: 1.25;
  padding: 18px 40px;
  border: 1px solid #575757;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
  border-radius: 5px;
  -webkit-appearance: none;
  -webkit-border-radius: 5px;
}
@media (any-hover: hover) {
  .btn:hover {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: 4px 4px 60px 0 rgba(0, 0, 0, 0.25);
  }
}
.btn:active {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 4px 4px 60px 0 rgba(0, 0, 0, 0.25);
}

.btn span:nth-child(1) {
  display: block;
}
.btn span:nth-child(2) {
  display: none;
}
._show .btn span:nth-child(1) {
  display: none;
}
._show .btn span:nth-child(2) {
  display: block;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

body.popup-show::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 0;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}
@media (min-width: 479.98px) {
  .popup {
    padding: 30px 10px;
  }
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: var(--accent-color);
  padding: 35px 15px;
  width: 100%;
  max-width: 700px;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.25);
}
@media (min-width: 767.98px) {
  .popup__content {
    padding: 52px 58px 34px;
  }
}
.lock .popup__content {
  visibility: visible;
}

.popup__close {
  position: absolute;
  right: 15px;
  top: 10px;
}
@media (min-width: 479.98px) {
  .popup__close {
    right: 33px;
    top: 32px;
  }
}
.popup__close::before {
  font-size: 25px;
}

.order-call {
  display: grid;
  justify-items: center;
  font-family: Montserrat;
  font-size: 1.8rem;
  color: var(--light-color-text);
}
.order-call__form {
  min-width: 100%;
  margin-bottom: 20px;
}
.order-call__politics-user {
  text-align: center;
  font-weight: 300;
}
.order-call__thanks {
  display: grid;
  justify-items: center;
  gap: 48px;
}
.order-call__thanks-text {
  text-align: center;
}

.form {
  display: grid;
  gap: 20px;
}
.form_service .form__submit input {
  min-width: 160px;
}
.form__row {
  padding: 10px;
  display: grid;
  gap: 20px;
  border: 1px solid transparent;
}
.form__row._form-error {
  border: 1px solid red;
}
.form__label {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--light-color-text);
}
.form__label_center {
  text-align: center;
}
.form__input {
  height: 42px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
}
.form__input input {
  background-color: transparent;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 22px;
  color: #ffffff;
}
.form__input input::placeholder {
  color: hsla(0, 0%, 100%, 0.5);
  line-height: 1.375;
}
.form__select {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0 -13px;
}
@media (min-width: 479.98px) {
  .form__select {
    margin: 0;
    gap: 30px;
  }
}
@media (min-width: 767.98px) {
  .form__select {
    gap: 60px;
  }
}
.form__select-item {
  border-radius: 5px;
  background: #FFF;
  box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.25);
  color: var(--main-color-text);
  position: relative;
  min-width: 93px;
  cursor: pointer;
}
.form__select-item label {
  display: grid;
  justify-items: center;
  gap: 10px;
  padding: 9px 4px;
}
.form__select-item label span::before {
  color: var(--accent-color);
  font-size: 24px;
}
.form__select-item input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.form__select-item input:checked ~ label::before {
  content: "\e902";
  width: 28px;
  height: 28px;
  background: #3771C8;
  border-radius: 50%;
  position: absolute;
  top: -14px;
  right: -14px;
  font-size: 28px;
  color: var(--light-color-text);
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.25);
}
.form__submit {
  display: flex;
  justify-content: center;
}
.form__submit button {
  padding: 10px;
}
@media (min-width: 991.98px) {
  .form__submit button {
    padding: 10px 40px;
  }
}

.tabs__navigation {
  display: flex;
}
.tabs__title {
  border: 1px solid #DADADA;
  color: #DADADA;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.64px;
  font-size: 1.2rem;
}
@media (min-width: 767.98px) {
  .tabs__title {
    padding: 20px;
    font-size: 1.4rem;
  }
}
.tabs__title._tab-active {
  color: var(--main-color-text);
  border: 1px solid #ffffff;
}
[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.swiper-horizontal {
  touch-action: pan-y;
}

.swiper-vertical {
  touch-action: pan-x;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

[class*=__wrapper] {
  position: relative;
}

[class*=__decor] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.decor {
  position: absolute;
}
.decor::after {
  content: "";
  display: block;
  background-image: url("../img/decor.png");
  background-size: cover;
  aspect-ratio: 16/15;
}

.title {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}

[class*=__pagination] {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background: #ffffff;
}

.header {
  padding-top: 20px;
  position: relative;
  z-index: 3;
}
@media (min-width: 767.98px) {
  .header {
    padding-top: 30px;
  }
}
@media (min-width: 1279.98px) {
  .header {
    padding-top: 40px;
  }
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid hsla(0, 6%, 53%, 0.3);
}
.header__tel {
  display: none;
}
@media (min-width: 991.98px) {
  .header__tel {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

.logo {
  display: grid;
  justify-items: center;
  text-align: center;
  width: 70px;
  gap: 5px;
}
@media (min-width: 767.98px) {
  .logo {
    width: 88px;
  }
}
.logo__text {
  font-size: 1.2rem;
  line-height: 1.25;
}
@media (min-width: 767.98px) {
  .logo__text {
    font-size: 1.6rem;
  }
}

@media (max-width: 991.98px) {
  .menu__body {
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    border-radius: 10px;
    padding: 20px;
    background-color: hsla(0, 1%, 23%, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease 0s;
  }
  .menu-open .menu__body {
    transform: translateY(0px);
    pointer-events: visible;
    opacity: 1;
    z-index: 11;
  }
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 991.98px) {
  .menu__list {
    flex-direction: row;
  }
}
.menu__link {
  color: var(--light-color-text);
}
@media (min-width: 991.98px) {
  .menu__link {
    color: var(--main-color-text);
  }
}

.burger {
  display: none;
}
@media (max-width: 991.98px) {
  .burger {
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
    z-index: 35;
  }
  .burger__lines {
    display: block;
    width: 30px;
    height: 100%;
    position: relative;
  }
  .burger__lines::before, .burger__lines::after {
    content: "";
  }
  .burger__lines::before, .burger__lines::after, .burger__lines span {
    transition: all 0.3s ease 0s;
    width: 100%;
    right: 0px;
    position: absolute;
    height: 2px;
    background-color: #575757;
  }
  .burger__lines::before {
    top: 0px;
  }
  .burger__lines::after {
    bottom: 0px;
  }
  .burger__lines span {
    width: 20px;
    top: calc(50% - 1px);
  }
  .menu-open .burger__lines::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .burger__lines::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
  .menu-open .burger__lines span {
    opacity: 0;
  }
}

.footer {
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 25px;
  position: relative;
  background-image: url("../img/bg3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media (min-width: 767.98px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 30px;
    background-image: url("../img/bg3-tab.jpg");
  }
}
@media (min-width: 1279.98px) {
  .footer {
    padding-top: 115px;
    padding-bottom: 60px;
    background-image: url("../img/bg3-pc.jpg");
  }
}
.footer__container {
  position: relative;
  z-index: 1;
  display: grid;
  gap: 35px;
}
@media (min-width: 767.98px) {
  .footer__container {
    grid-template-columns: 0.7fr 1fr;
    row-gap: 45px;
  }
}
.footer__logo {
  display: none;
}
@media (min-width: 767.98px) {
  .footer__logo {
    display: block;
    align-self: center;
  }
}
.footer__title {
  margin-bottom: 20px;
  font-size: 3rem;
  line-height: 1;
  text-transform: uppercase;
  font-family: SpectralSC;
}
@media (min-width: 767.98px) {
  .footer__title {
    margin-bottom: 30px;
  }
}
@media (min-width: 1279.98px) {
  .footer__title {
    margin-bottom: 45px;
  }
}
.footer__contacts-list > *:not(:last-child) {
  margin-bottom: 20px;
}
@media (min-width: 1279.98px) {
  .footer__contacts-list > *:not(:last-child) {
    margin-bottom: 33px;
  }
}
@media (min-width: 1279.98px) {
  .footer__contacts-row {
    display: flex;
    gap: 30px;
  }
  .footer__contacts-row .footer__contacts-item:nth-child(1) {
    white-space: nowrap;
  }
}
.footer__contacts-row > *:not(:last-child) {
  margin-bottom: 15px;
}
@media (min-width: 1279.98px) {
  .footer__contacts-row > *:not(:last-child) {
    margin-bottom: 0;
  }
}
.footer__contacts-item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer__contacts-mail {
  display: flex;
  justify-content: space-between;
  max-width: 438px;
}
@media (min-width: 767.98px) {
  .footer__contacts-mail {
    padding-right: 50px;
  }
}
@media (min-width: 767.98px) {
  .footer__row {
    grid-area: 2/1/3/3;
    display: flex;
    justify-content: space-between;
  }
}
.footer__politic {
  display: none;
}
@media (min-width: 767.98px) {
  .footer__politic {
    display: block;
  }
}
.footer__conditions {
  display: none;
}
@media (min-width: 991.98px) {
  .footer__conditions {
    display: block;
  }
}

.page > * {
  padding-top: 25px;
  padding-bottom: 25px;
}
@media (min-width: 767.98px) {
  .page > * {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (min-width: 1279.98px) {
  .page > * {
    padding-top: 58px;
    padding-bottom: 58px;
  }
}
.page__service {
  margin-top: 25px;
  margin-bottom: 25px;
}
@media (min-width: 767.98px) {
  .page__service {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1279.98px) {
  .page__service {
    margin-top: 58px;
    margin-bottom: 58px;
  }
}
.page__reviews {
  padding-bottom: 35px;
}
@media (min-width: 767.98px) {
  .page__reviews {
    padding-bottom: 80px;
  }
}
@media (min-width: 1279.98px) {
  .page__reviews {
    padding-bottom: 115px;
  }
}

.promo {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (min-width: 767.98px) {
  .promo {
    padding-top: 65px;
    padding-bottom: 128px;
  }
}
@media (min-width: 1279.98px) {
  .promo {
    padding-top: 55px;
    padding-bottom: 140px;
  }
}
@media (min-width: 767.98px) {
  .promo__wrapper {
    display: flex;
  }
}
.promo__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 2;
}
@media (min-width: 767.98px) {
  .promo__body {
    align-items: start;
    flex: 0 0 440px;
    gap: 40px;
  }
}
.promo__title {
  font-family: SpectralSC;
  font-size: 4rem;
  line-height: 1;
  text-transform: capitalize;
  text-align: center;
  color: var(--main-color-text);
  max-width: 290px;
}
@media (min-width: 767.98px) {
  .promo__title {
    text-align: left;
    font-size: 5rem;
    max-width: 100%;
  }
}
.promo__list {
  display: grid;
  gap: 15px;
  max-width: 330px;
  width: 100%;
}
@media (min-width: 767.98px) {
  .promo__list {
    gap: 30px;
  }
}
.promo__list-item {
  font-size: 1.8rem;
  line-height: 1.11;
  padding: 15px 5px;
  text-align: center;
  box-shadow: 8px 8px 80px 0 rgba(0, 0, 0, 0.3);
  background: rgba(59, 58, 58, 0.3);
  border-radius: 7px;
}
.promo__images {
  position: relative;
  aspect-ratio: 1/1.28;
  width: 100%;
}
@media (min-width: 767.98px) {
  .promo__images {
    aspect-ratio: 0.87/1;
  }
}
@media (min-width: 991.98px) {
  .promo__images {
    aspect-ratio: 1.45/1;
  }
}
.promo__image {
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
}
.promo__image_1 {
  width: 163%;
  transform: translate(-50%, -36%);
}
@media (min-width: 767.98px) {
  .promo__image_1 {
    width: 198%;
    transform: translate(-66%, -44%);
  }
}
@media (min-width: 991.98px) {
  .promo__image_1 {
    width: 126%;
    transform: translate(-62%, -57%);
  }
}
.promo__image_2 {
  width: 92%;
  transform: translate(-69%, -74%);
}
@media (min-width: 767.98px) {
  .promo__image_2 {
    width: 107%;
    transform: translate(-74%, -89%);
  }
}
@media (min-width: 991.98px) {
  .promo__image_2 {
    width: 65%;
    transform: translate(-20%, -85%);
  }
}
.promo__image_3 {
  width: 75%;
  transform: translate(-19%, -94%);
}
@media (min-width: 767.98px) {
  .promo__image_3 {
    width: 126%;
    transform: translate(-30%, -82%);
  }
}
@media (min-width: 991.98px) {
  .promo__image_3 {
    width: 94%;
    transform: translate(-16%, -43%);
  }
}
.promo__decor .decor_1 {
  top: -2%;
  left: 1%;
}
@media (min-width: 767.98px) {
  .promo__decor .decor_1 {
    top: 72%;
    left: 93%;
  }
}
@media (min-width: 1279.98px) {
  .promo__decor .decor_1 {
    display: none;
  }
}
.promo__decor .decor_1::after {
  transform: rotate(79deg);
  width: 26px;
}
.promo__decor .decor_2 {
  top: 56%;
  left: 84%;
}
@media (min-width: 767.98px) {
  .promo__decor .decor_2 {
    top: 108%;
    left: 24%;
  }
}
@media (min-width: 1279.98px) {
  .promo__decor .decor_2 {
    left: 0;
  }
}
.promo__decor .decor_2::after {
  transform: rotate(43deg);
  width: 42px;
}
@media (min-width: 767.98px) {
  .promo__decor .decor_2::after {
    transform: rotate(23deg);
    width: 55px;
  }
}
.promo__decor .decor_3 {
  top: 99%;
  left: 10%;
}
@media (min-width: 767.98px) {
  .promo__decor .decor_3 {
    top: 117%;
    left: 92%;
  }
}
@media (min-width: 1279.98px) {
  .promo__decor .decor_3 {
    display: none;
  }
}
.promo__decor .decor_3::after {
  transform: rotate(-17deg);
  width: 26px;
}
@media (min-width: 767.98px) {
  .promo__decor .decor_3::after {
    width: 42px;
    transform: rotate(43deg);
  }
}

.socials {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-top: 7px;
}
@media (min-width: 767.98px) {
  .socials {
    justify-content: start;
  }
}
.socials li {
  align-self: center;
}
.about__decor .decor_1 {
  display: none;
}
@media (min-width: 767.98px) {
  .about__decor .decor_1 {
    display: block;
    top: 100%;
    left: 9%;
  }
}
@media (min-width: 1279.98px) {
  .about__decor .decor_1 {
    top: 119%;
    left: -10%;
  }
}
@media (min-width: 767.98px) {
  .about__decor .decor_1::after {
    transform: rotate(135deg);
    width: 26px;
  }
}
@media (min-width: 1279.98px) {
  .about__decor .decor_1::after {
    width: 79px;
    transform: rotate(-33deg);
  }
}
.about__decor .decor_2 {
  display: none;
}
@media (min-width: 767.98px) {
  .about__decor .decor_2 {
    display: block;
    top: 104%;
    left: 92%;
  }
}
@media (min-width: 1279.98px) {
  .about__decor .decor_2 {
    top: 64%;
    left: 106%;
  }
}
@media (min-width: 767.98px) {
  .about__decor .decor_2::after {
    transform: rotate(43deg);
    width: 42px;
  }
}
@media (min-width: 1279.98px) {
  .about__decor .decor_2::after {
    width: 79px;
    transform: rotate(-33deg);
  }
}

@media (min-width: 767.98px) {
  .about-tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 30px;
  }
}
@media (min-width: 1279.98px) {
  .about-tabs {
    grid-template-columns: 370px 1fr;
  }
}
.about-tabs__navigation {
  display: grid;
}
@media (min-width: 767.98px) {
  .about-tabs__navigation {
    grid-area: 1/2/2/3;
  }
}
@media (min-width: 1279.98px) {
  .about-tabs__navigation {
    grid-template-columns: repeat(4, auto);
  }
}
.about-tabs__title {
  border: 0.5px solid #8d7f7f;
  font-size: 1.8rem;
  line-height: 1.11;
  border-radius: 3px;
  padding: 24px 5px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 8px;
  color: #8D7F7F;
}
.about-tabs__title._tab-active {
  color: var(--main-color-text);
  border: 0.5px solid #2c2c2c;
}
.about-tabs__title::before {
  font-size: 8px;
}
.about-tabs__title:nth-child(1) {
  background-color: rgba(141, 127, 127, 0.4);
}
.about-tabs__title:nth-child(2) {
  background-color: rgba(141, 127, 127, 0.3);
}
.about-tabs__title:nth-child(3) {
  background-color: rgba(141, 127, 127, 0.2);
}
.about-tabs__title:nth-child(4) {
  background-color: rgba(141, 127, 127, 0.1);
}
.about-tabs__content {
  border: 0.5px solid #8d7f7f;
  padding: 30px 10px 30px 20px;
  border-radius: 7px;
  margin-bottom: 30px;
  height: 240px;
}
@media (min-width: 767.98px) {
  .about-tabs__content {
    grid-area: 2/2/3/3;
    margin-bottom: 0;
    height: 312px;
  }
}
@media (min-width: 991.98px) {
  .about-tabs__content {
    height: 455px;
  }
}
@media (min-width: 1279.98px) {
  .about-tabs__content {
    height: auto;
    max-height: 674px;
    padding: 50px 25px 50px 35px;
  }
}
.about-tabs__content-wrap {
  height: 100%;
  overflow-y: scroll;
  font-size: 1.8rem;
  padding-right: 10px;
}
.about-tabs__content-wrap::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  -webkit-overflow-scrolling: auto;
}
.about-tabs__content-wrap::-webkit-scrollbar-thumb {
  background: hsla(0, 6%, 53%, 0.5);
}
.about-tabs__body span {
  font-family: SpectralSC;
  font-size: 1.8rem;
  line-height: 100%;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 767.98px) {
  .about-tabs__body span {
    font-size: 2.4rem;
  }
}
.about-tabs__body ul li {
  display: flex;
  align-items: center;
  gap: 5px;
}
.about-tabs__body ul li:not(:last-child) {
  margin-bottom: 20px;
}
.about-tabs__body ul li::before {
  content: "";
  flex: 0 0 48px;
  height: 32px;
  background-image: url("../img/icons/about-icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 767.98px) {
  .about-tabs__images {
    grid-area: 1/1/3/2;
  }
}
.about-tabs__image {
  width: 100%;
  aspect-ratio: 290/398;
  box-shadow: 8px 8px 80px 0 rgba(0, 0, 0, 0.3);
  background: #8d7f7f;
  border-radius: 15px;
  object-fit: cover;
}
@media (min-width: 767.98px) {
  .about-tabs__image {
    aspect-ratio: 370/562;
  }
}
@media (min-width: 1279.98px) {
  .about-tabs__image {
    aspect-ratio: 370/737;
  }
}

.kinds__title {
  margin-bottom: 30px;
}
@media (min-width: 1279.98px) {
  .kinds__title {
    margin-bottom: 40px;
  }
}
.kinds__body {
  display: grid;
  justify-items: center;
  gap: 30px;
}
.kinds__list {
  display: grid;
  justify-items: center;
  gap: 30px;
}
@media (max-width: 767.98px) {
  .kinds__list._hidden > li {
    display: none;
  }
  .kinds__list._hidden > li:nth-child(1), .kinds__list._hidden > li:nth-child(2) {
    display: block;
  }
}
@media (min-width: 767.98px) {
  .kinds__list {
    grid-template-columns: 1fr 1fr;
    max-width: 570px;
    margin: 0 auto;
  }
}
@media (min-width: 1279.98px) {
  .kinds__list {
    max-width: none;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 767.98px) {
  .kinds__btn {
    display: none;
  }
}

.item-kinds {
  overflow: hidden;
  border-radius: 7px;
  aspect-ratio: 270/251;
  width: 270px;
  box-shadow: 8px 8px 80px 0 rgba(0, 0, 0, 0.3);
}
.item-kinds img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: filter 0.3s ease 0s;
}
@media (hover: hover) {
  .item-kinds:hover img {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
  }
}
.item-kinds__body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  z-index: 2;
  padding: 25px 10px;
}
.item-kinds__title {
  color: var(--light-color-text);
  font-size: 1.8rem;
  font-size: 1.11;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 16px;
}
.item-kinds__title::before {
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
}
.item-kinds__title_1::before {
  background-image: url("../img/kinds/1.svg");
  flex: 0 0 17px;
  height: 52px;
}
.item-kinds__title_2::before {
  background-image: url("../img/kinds/2.svg");
  flex: 0 0 41px;
  height: 33px;
}
.item-kinds__title_3::before {
  background-image: url("../img/kinds/3.svg");
  flex: 0 0 26px;
  height: 37px;
}
.item-kinds__title_4::before {
  background-image: url("../img/kinds/4.svg");
  flex: 0 0 36px;
  height: 39px;
}
.item-kinds__title_5::before {
  background-image: url("../img/kinds/5.svg");
  flex: 0 0 22px;
  height: 34px;
}
.item-kinds__title_6::before {
  background-image: url("../img/kinds/6.svg");
  flex: 0 0 29px;
  height: 28px;
}
.item-kinds__title_7::before {
  background-image: url("../img/kinds/7.svg");
  flex: 0 0 39px;
  height: 31px;
}
.item-kinds__title_8::before {
  background-image: url("../img/kinds/8.svg");
  flex: 0 0 26px;
  height: 31px;
}

.service {
  padding-top: 70px;
  padding-bottom: 30px;
  background-image: url("../img/bg2.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media (min-width: 767.98px) {
  .service {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url("../img/bg2-tab.jpg");
  }
}
@media (min-width: 1279.98px) {
  .service {
    padding-top: 115px;
    padding-bottom: 115px;
    background-image: url("../img/bg2-pc.jpg");
  }
}
.service__title {
  color: var(--light-color-text);
  text-align: left;
  width: 81.0344827586%;
  margin: 0 auto 30px;
}
@media (min-width: 767.98px) {
  .service__title {
    text-align: center;
    width: 100%;
    margin: 0 0 30px;
  }
}
@media (min-width: 1279.98px) {
  .service__title {
    margin-bottom: 40px;
  }
}
.service__slider {
  max-width: 270px;
  margin: 0 auto;
}
@media (min-width: 767.98px) {
  .service__slider {
    max-width: 570px;
    overflow: visible;
  }
}
@media (min-width: 1279.98px) {
  .service__slider {
    max-width: 100%;
  }
}
@media (min-width: 1279.98px) {
  .service__swiper {
    gap: 30px;
  }
}
.service__slide {
  max-width: 270px;
  opacity: 0.5;
  transition: opacity 0.3s ease 0s;
}
.service__slide.swiper-slide-active, .service__slide.swiper-slide-next {
  opacity: 1;
}
@media (min-width: 1279.98px) {
  .service__slide {
    opacity: 1;
  }
}
.service__pagination {
  padding-top: 30px;
}
@media (min-width: 1279.98px) {
  .service__pagination {
    display: none;
  }
}

.slide-service {
  color: var(--light-color-text);
}
.slide-service__header {
  display: grid;
  gap: 12px;
  margin-bottom: 30px;
}
.slide-service__logo {
  background-image: url("../img/logo-w.svg");
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 32px;
}
.slide-service__step {
  display: flex;
  gap: 10px;
}
.slide-service__step span {
  width: 10px;
  height: 10px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
.slide-service__step .slide-service__step-current {
  background-color: #ffffff;
}
.slide-service__title {
  font-size: 2.4rem;
  text-transform: uppercase;
}
.slide-service__text {
  line-height: 1.25;
}

.gallery__title {
  margin-bottom: 30px;
}
@media (min-width: 1279.98px) {
  .gallery__title {
    margin-bottom: 40px;
  }
}
.gallery__slider-wrapper {
  max-width: 270px;
  margin: 0 auto;
}
@media (min-width: 767.98px) {
  .gallery__slider-wrapper {
    max-width: 570px;
  }
}
@media (min-width: 1279.98px) {
  .gallery__slider-wrapper {
    max-width: 100%;
  }
}
.gallery__slider {
  margin: -60px -15px -20px;
  padding: 60px 15px 20px;
  overflow: visible;
}
.gallery__slide {
  width: 270px;
  opacity: 0.3;
  transition: opacity 0.3s ease 0s;
}
.gallery__slide.swiper-slide-active {
  opacity: 1;
}
@media (min-width: 767.98px) {
  .gallery__slide.swiper-slide-next {
    opacity: 1;
  }
}
@media (min-width: 1279.98px) {
  .gallery__slide {
    opacity: 1;
  }
}
.gallery__nav {
  display: grid;
  justify-items: center;
  gap: 20px;
}
.gallery__nav-item:before {
  display: block;
  content: "\e901";
  font-size: 33px;
}
.gallery__nav-item_prev:before {
  transform: rotate(180deg);
}
.gallery__decor .decor_1 {
  display: none;
}
@media (min-width: 767.98px) {
  .gallery__decor .decor_1 {
    display: block;
    top: 98%;
    left: 23%;
  }
}
@media (min-width: 767.98px) {
  .gallery__decor .decor_1::after {
    transform: rotate(-33deg);
    width: 45px;
  }
}
.gallery__decor .decor_2 {
  display: none;
}
@media (min-width: 767.98px) {
  .gallery__decor .decor_2 {
    display: block;
    top: 77%;
    left: 82%;
  }
}
@media (min-width: 767.98px) {
  .gallery__decor .decor_2::after {
    transform: rotate(23deg);
    width: 55px;
  }
}

.slide-gallery__body {
  box-shadow: 8px 8px 80px 0 rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  overflow: hidden;
}
.slide-gallery__img {
  width: 100%;
  aspect-ratio: 270/249;
}
.slide-gallery__footer {
  display: flex;
  justify-content: space-between;
  padding: 15px 45px;
  color: var(--dark-color-text);
  font-size: 1.8rem;
  line-height: 1.1;
}
.slide-gallery__text {
  padding-top: 12px;
  padding-bottom: 20px;
  min-height: 90px;
  text-align: center;
  line-height: 1.25;
}

.reviews__title {
  margin-bottom: 30px;
}
@media (min-width: 1279.98px) {
  .reviews__title {
    margin-bottom: 40px;
  }
}
.reviews__slider {
  max-width: 370px;
  margin: 0 auto;
}
@media (min-width: 767.98px) {
  .reviews__slider {
    max-width: 770px;
  }
}
@media (min-width: 1279.98px) {
  .reviews__slider {
    max-width: 100%;
  }
}
.reviews__slide {
  max-width: 370px;
}
.reviews__pagination {
  padding-top: 40px;
}
.reviews__pagination .swiper-pagination-bullet {
  border-color: #000000;
}
.reviews__pagination .swiper-pagination-bullet-active {
  background: #000000;
}
.reviews__decor .decor_1 {
  display: none;
}
@media (min-width: 767.98px) {
  .reviews__decor .decor_1 {
    display: block;
    top: 104%;
    left: 10%;
  }
}
@media (min-width: 767.98px) {
  .reviews__decor .decor_1::after {
    transform: rotate(23deg);
    width: 55px;
  }
}
.reviews__decor .decor_2 {
  display: none;
}
@media (min-width: 767.98px) {
  .reviews__decor .decor_2 {
    display: block;
    top: 90%;
    left: 60%;
  }
}
@media (min-width: 767.98px) {
  .reviews__decor .decor_2::after {
    transform: rotate(-33deg);
    width: 63px;
  }
}

.slide-reviews__header {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}
.slide-reviews__header-main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.slide-reviews__stars {
  background-image: url("../img/icons/stars.svg");
  background-size: cover;
  width: 135px;
  aspect-ratio: 126/17;
}
.slide-reviews__name {
  font-size: 2.4rem;
  text-transform: uppercase;
}
.slide-reviews__date {
  line-height: 1.25;
}
.slide-reviews__img img {
  width: 100%;
  max-width: 223px;
  border-radius: 7px;
}
