// Заголовки, общие БЄМ блоки и проче...

.icon {
  display: inline-block;
  width: 54px;
  height: 54px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  // .icon_1
  &_1 {
    background-image: url("@img/what-will-be/1.svg");
  }
  // .icon_2
  &_2 {
    background-image: url("@img/what-will-be/2.svg");
  }
  // .icon_3
  &_3 {
    background-image: url("@img/what-will-be/3.svg");
  }
  // .icon_4
  &_4 {
    background-image: url("@img/what-will-be/4.svg");
  }
  // .icon_5
  &_5 {
    background-image: url("@img/what-will-be/5.svg");
  }
}

.title {
  font-weight: 600;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}


[class*="__pagination"] {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background: #ffffff;
}


//====================================================================================================


//====================================================================================================


//====================================================================================================


//====================================================================================================


//====================================================================================================


//====================================================================================================


//====================================================================================================


//====================================================================================================


//====================================================================================================


//====================================================================================================